.main-menu.menu-light .navigation>li.active>a {
font-weight: 600 !important;
color: #666 !important;
}

.h-package {
height: 450px;
}


.bg-blue-light{
background: #e5f7ff;
padding: 10px;
margin-bottom:4px;
}

.rating i{
color: #bfbfbf !important;
}

.rating i.active{
color: #ffa707 !important;
}

.upload-menu {
position: absolute;
right: 0;
top: 0;
padding: 10px 0 0 0;
color: #000;
}


button:focus {
outline: none !important;
}

.invoice-table-font {
border: none !important;
padding: 5px 15px 5px 0px !important;
}

.payheading {
font-size: 16px;
font-weight: 500;
text-transform: capitalize;
}

.conver h4 a{
color: #000;
font-size: 18px;
letter-spacing: 1px;
}

.conver h4 a:hover{
color: #000;
}

.conver p {
color: #666;
font-size: 12px;
margin: 0;
letter-spacing: 1px;
}

.fs-11 {
font-size: 12px;
}

.custo-details span {
font-size: 12px;
margin-top: 5px;
}
.text-para{
font-size: 12px;
color:#666;
}

.stock-menu {
position: absolute;
left: 0;
top: 0;
color: #fff;
margin-left: 7px;
margin-top: 7px;
background-color: #00ce7c;
padding: 0px 4px;
border-radius: 4px;
font-size: 12px;
font-weight: 600;
}

.out-stock-menu {
position: absolute;
left: 0;
top: 0;
color: #fff;
margin-left: 7px;
margin-top: 7px;
background-color:#ff4c5e;
padding: 0px 4px;
border-radius: 4px;
font-size: 12px;
font-weight: 600;
}



.overlay{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color:#343a40;
}
.gallery {
    border: 1px solid #e4e5e5;
}
.gallery:hover .overlay {
opacity: 0.5;
}

.gallery-box {
position: relative;
width: 100%;
background: #fff;
margin-bottom: 20px;
}

.card-body1 {
    flex: 1 1 auto;
    padding: 0.5rem;
}

.absolute-center {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
filter: invert(1);
width: 40px;
}

.icon-shape {
display: block;
align-items: center;
justify-content: center;
text-align: center;
vertical-align: middle;
}

/*pop product*/


.prod-section {
    display: flex;
    justify-content: space-between;
    
}
.item-pro img {
    width: 60px;
}

.item-pro {
    display: flex;
}

.prod {
  margin-left:10px;  
    
}

.prod {
    
    font-size: 12px;
    color: #333;
    /* vertical-align: initial; */
    padding: 0px 20px 0 10px ;
    line-height: 20px;
}

.line-clamp-prod {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.prod-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}

.customer-info {
    border: 1px solid #d1cfcf;
    border-radius: 4px;
  
}

.cust-headeing {
    border-bottom: 1px solid #a9a9a9;
   
    padding: 15px;
}

.cust-details {
    padding: 15px;
}

.cust-details p{
    color:#666;
    font-size:12px;
    margin:0;
    line-height: 21px;
}

.btn-yellow {
    background-color: #ffd814 !important;
    font-weight:500;
}

.alert-yellow, .btn-yellow {
    border-color: #ffd814 !important;
    font-weight:500;
}

.btn-yellow:hover {
    border-color: #ffee58!important;
    background-color: #ffee58!important;
    color: #333!important;
}

/*subscribe*/

.input-group2 {
    width: 100px;
}



/*qty*/

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100px;
 
}
.quantity__minus,
.quantity__plus {
    display: block;
    width: 50px;
    height: 30px;
    margin: 0;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 29px;
    border: 1px solid #e1e1e1;
    margin-right: 2px;
    margin-left: 2px;
}

.quantity__minus {
  
}
.quantity__plus {
  
}
.quantity__input {
    width: 32px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    background: #fff;
    color: #666;
}


.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

a {
    color: #333 !important;
}

.sub-text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
}

.subs-text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}

.save-text {
    color: #ea830e !important;
    text-transform: capitalize;
    font-size: 14px;
    margin: 0;
    font-family: 'Poppins';
}


.input-group-text1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #020202;
    text-align: center;
    white-space: nowrap;
    background-color: #dfdfdf;
    border-radius: 0.25rem;
    height: 55px;
    margin-top: 0px;
    width: 200px;
    justify-content: center;
    margin-left: 10px;
}

.effect-2 {
    border: 0;
    padding: 15px 5px;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    transition: all 0.3s;
}

.truck {
    color: #fff;
}

.addres-para {
    font-weight: 300;
    font-size: 14px;
    color: #333;
}

span.alpha-6 {
    font-weight: 600;
    margin-right: 5px;
}

.cust-headeing {
    border-bottom: 1px solid #a9a9a9;
    padding: 15px;
}

.prod-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}

.customer-info {
    border: 1px solid #d1cfcf !important;
    border-radius: 4px;
}

.blc-info p {
    margin: 0;
    font-size: 12px !important;
    color: #333;
    font-weight: 400;
    line-height: 30px;
}

.blc-tot {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.icon-sm {
width: 2rem;
height: 2rem;
background: #fff;
border: navajowhite;
font-size: 22px;
color: #7b7b7b;
font-weight: 300;

}

.trash{
color: tomato;
font-size: 16px !important;
background: #ffcccc87;
padding: 8px;
border-radius: 50%;
}

.input-group1 {
width: 50px;
}
.pro-name {
font-size: 12px;
letter-spacing: 1px;
text-transform: capitalize;
word-spacing: 1px;
}

.pro-price {
font-size: 12px;
letter-spacing: 1px;
font-weight: 500;
}

.blc {
float: right;
}

.blc p{
margin:0;
font-size: 12px;
color:#666;
line-height:30px;
}

.blc-info{
float: left;
}

.blc-info p{
margin: 0;
font-size: 13px;
color: #666;
font-weight: 500;
}

.blc-tot {
font-size: 18px;
color: #333;
font-weight: 500;
}

.flex-item p {
margin: 0 0 3px 0;
font-size: 12px;
color: #333;
}

.flex-container {
border: 1px solid #66acff;
padding: 20px;
border-radius: 6px;
}

.border-addres {
border: 1px solid #ccc;
padding: 5px;
}

.alpha-7 {
color: #333;
text-transform: capitalize;
font-size: 12px;
}

.text-black:hover{
color:#333;
}

.dropdown-menu.dropdown-menu-lg {
width: 200px !important; 
min-width: 200px !important; 
}

.flex-small{
display: flex; 
justify-content: space-between;
}

.flex-small .dropup {
margin-bottom: 10px;
}

.product-img {
    border-bottom: 1px solid #e6e3e3;
    margin-bottom: 8px;
    padding: 0;
}

.product-name {
font-size: 13px;
margin: 0;
text-overflow: ellipsis;
overflow: hidden;
-webkit-line-clamp: 2;
white-space: nowrap;
color: #000;
font-weight: 400;
}

.text-gray {
color: #646465 !important;
}

.card-header:first-child {
border-bottom: 1px solid #6666;
}

.dropdown-menu {
border: none !important;
}  

.input-group-append {
border: 1px solid #c3bebe;
}

.product-img{
border-bottom: 1px solid #e6e3e3;
margin-bottom: 8px;
padding: 0;
}

.btn {
padding: 0.75rem 1rem !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.pos-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex: auto;
    grid-column-gap: 20px;
}

form label {
    color: #333;
}

.table td, .table th {
    border-top: none !important;
}

.flex-btn{
    display: flex;
    justify-content: flex-end;
}

.shipp-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

/*vertical overflow*/
/*right-side*/

.scrollbar
{
	float: left;
	height: 300px;
	width:100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 350px;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #6666;
}

/*left side*/
.scrollbar-1
{
   float: left;
    height: 780px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 25px;
    overflow-x: hidden;
}

.force-overflow-1
{
	min-height: 350px;
}

.btn-outline-dark {
    color: #464855;
    border-color: #babfc7 !important;
    height: calc(1.25em + 1.5rem + 2px);
}

.drop-top{
  margin-top: 18px;  
}
