/* login */
.login_main{
    background-color:#0061f2;
}
.login {
    width: 453px;
    margin: 30px auto;
}
.login .logo {
    margin-bottom: 10px;
    text-align: center;
}
.login .logo img {
    width: auto;
    height: 50px;
}
.login-box {
    background-color: #f5f5f5;
    padding: 45px 55px;
    border-radius: 20px;
}
.login h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-weight: 500;
}
.login h5 {
    margin-bottom: 8px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.login .forgot-link {
    float: right;
    line-height: 20px;
}
.login .txtb {
    padding-bottom: 15px;
    text-align: center;
}
.login p {
    margin-bottom: 15px;
    text-align: center;
}

/* locked */
.locked .imgb {
    width: 60px;
    height: 60px;
    margin: 0 auto 10px auto;
    border-radius: 100%;
    overflow: hidden;
}
.locked .imgb img {
    width: 100%;
    height: auto;
}
.locked h1 {
    margin-bottom: 8px;
}


